.header {
    background-image: url(../imagens/captainmarvelheader.jpg);
    
}
#title-captain {
    width: 30%;
    margin-top: 25%;
    margin-left: 20%;
}
.section-anuncios {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
}
.card-image {
    width: 200px;
}
.div-card-image {
    display: flex;
    justify-content: center;
}
.anuncio-valor {
    margin-top: 5px;
}
.card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px;
    margin-bottom: 50px;
    font-weight: 500;
}

@media screen and (max-width: 726px) {
    .header{
        background-image: url(../imagens/captainmarvelheader_Mobile.jpg);
        background-position-y: -50px;
        
    }
    #title-captain {
        opacity: 0;
    }
    .section-anuncios {
        grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
    }
}
@media screen and (max-width: 415px) {
    .header{
        background-image: url(../imagens/captainmarvelheader_Mobilee.png);
        background-position-x: -20px;
    }
}
 /* Especifico Galaxy Fold ou qualquer tela até 280px */
 @media screen and (max-width: 280px) {
    .section-anuncios {
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    }
}