.header {
    background-image: url(../imagens/spidermanheader.jpg);
}
#title-spiderman {
    width: 20%;
    margin-top: 10%;
    margin-left: 10%;
}
.grids-sections {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.section-thor {
    background-image: url(../imagens/thor_header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    aspect-ratio: 17/9;
}
.article-thor {
    display: flex;
    grid-column: 2/3;
    text-align: left;
    margin-top: 10%;
    font-weight: 700;
    color: #ffff;
    width: 80%;
}
.color-wihte {
    color: #ffff !important;
}
#article-img-bnc {
    width: 100%;
}
.div-pargraph-bonecos {
    display: flex;
    grid-column: 2/3;
    align-items: center;
}
.pargraph-boneco {
    display: flex;
    flex-direction: column; 
    font-weight: 700;
    width: 80%;
}
@media screen and (max-width: 550px) {
    .header {
        background-image: url(../imagens/spidermanheader_mobile.jpg);
        height: 550px;
    }
    #title-spiderman {
        margin-top: 100px;
        width: 200px;
        margin-left: 15px;
    }
    .section-thor{
        background-image: none;
        background: linear-gradient(#fe7467 20%, #fc3836);
    }
    .div-section-thor{
        display: flex;
    }
    .article-thor {
        margin-top: 0 !important;
        padding-bottom: 20px;
    }
    .responsive-paragraphs{
        text-align: center;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    .div-section-boneco {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
    }
    .div-pargraph-bonecos {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .botton-home-catalogo {
        margin-left: auto;
        margin-right: auto;
    }
}
@media screen and (max-width: 415px) {
    .header{
        background-image: url(../imagens/spidermanheader_mobilee.png);
        height: 500px;
    }
    #title-spiderman {
        margin-top: 80px;
        width: 45%;
        margin-right: 50px;
        margin-left: 0;
    }
}
/* Pro homem aranha cabeçudo da Home se encaixar melhor possivel nas telas */
@media screen and (max-width: 410px) {
    .header{
        background-position-x: -20px;
    }
}
@media screen and (width: 320px) {
    .header{
        background-position-x: -50px;
    }
}
@media screen and (width: 360px) {
    .header{
        background-position-x: -35px;
    }
}
  /* Especifico Galaxy Fold ou qualquer tela até 280px */
@media screen and (width: 280px) {
    .header{
        background-position-x: -60px;
        height: 500px;
    }
    .media-paragraphs{
        text-align: center;
        width: 270px;
        margin-left: auto;
        margin-right: auto;
    }
}
